project:
  type: website
  output-dir: docs
  resources:
    - data/

website:
  title: "OJS Dashboard"
  navbar:
    left:
      - text: "Home"
        href: index.qmd

format:
  html:
    theme: darkly
    css: styles.css
    toc: false
